<div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h3 class="mb-0">Finished games</h3>
          </div>
          <div class="card-block" >
            <ul>
              <li *ngFor="let game of finishedGames; let i = index">
                <button type="button" class="btn btn-link">{{game.player.score}}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
