<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Setup</h3>
        <h4 class="mb-0">Please, select a difficulty</h4>
      </div>
      <div class="card-block" >
        <ul>
          <li style="list-style-type: none;" *ngFor="let setup of setups; let i = index">
            <button  (click)="selectDifficult(setup)" type="button" class="btn btn-link">{{setup.name}}</button>
          </li>

        </ul>
      </div>
      <button class="btn btn-primary btn-lg btn-block" [disabled]="!selectedDifficult" (click)="startGame()">START GAME</button>
    </div>
  </div>
</div>
