<div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0"> Battlefield - SCORE: {{ battlefield.player.score }}</h3>
              </div>
              <div class="card-block" >
                  <div class="column has-text-centered" *ngIf="battlefield">
                      <table style="border-radius: 5px;width: 50%;margin: 0px auto;float: none;" class="table-battle is-bordered">
                        <tr *ngFor="let row of battlefield.positions; let j = index">
                          <td *ngFor="let col of row; let k = index" (click)="attackShip(j, k)" [style.background-color]="col.used ? '' : 'transparent'"
                            [class.win]="col.status == 'win'" [class.fail]="col.status !== 'win'" class="battleship-tile">
                            {{ col.value == "X" ? "X" : "O" }}
                          </td>
                        </tr>
                      </table>
                    </div>
              </div>
            </div>
          </div>
        </div>
